body {
    background-color: white;
    font-family: 'poppins';
}

.banner-container {
    background: url(../../../assets/img/banner-img.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.claim-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50px;
}

.claim-title-container-mob {
    display: none;
}

.claim-title-text {
    /*font-family: 'Open Sans';*/
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 180%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 15px;
}

.claim-title-sub-text {
    /*font-family: 'Open Sans';*/
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.verify-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.verify-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.verify-details-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    /* align-items: center; */
    color: #000000;
}

.verify-details-sub-text {
    /*font-family: 'Open Sans';*/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #72849A;
}

.label {
    /*font-family: 'Open Sans';*/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #050505;
    margin-top: 15px;
}

.input-field {
    background: #FFFFFF;
    border: 1px solid #E6EBF1 !important;
    border-radius: 6px;
    padding: 10px 10px;
    color: #72849A;
    border: none;
    margin-top: 10px;
}

.input-field-main {
    background: #FFFFFF;
    /* border: 1px solid #E6EBF1;
    border-radius: 6px;
    padding: 10px 20px; */
    color: #72849A;
    border: none;
    width: 100%;
}

.input-field-main:focus {
    outline: none;
}


.notice-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 15px;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12px;
    font-size: 12px;
}

.ant-modal-footer {
    display: none;
}

.modal-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #E6EBF1;
}


.web-btn {
    background: #41C1B2;
    border-radius: 6px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}

.web-btn-full {
    background: #41C1B2;
    border-radius: 6px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: fit-content; */
    width: 100%;
}

.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 20px;
    position: absolute;
    top: 200px;
}

.step-container {
    display: flex;
    background-color: white;
    border-radius: 8px;
    padding: 20px 35px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.virtual-card-container {
    margin-bottom: 25px;
}

.virtual-card-container-traveler {
    margin-bottom: 25px;
}

.virtual-card-container-mobile {
    display: none;
}

.drafts-container {
    background-color: #EEEEEE;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    margin-bottom: 20px;
}

.draft-heading-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.virtual-card {
    background-color: #EEEEEE;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #EEEEEE;
}


.virtual-card-desc {
    padding-right: 25px;
    border-right: 1px solid #d8d8d8;
}

.virtual-card-desc-policy {
    padding-right: 25px;

}

.virtual-card-img {
    width: 100%;
    height: auto;

}

.virtual-card-img-container {
    /* padding-left: 45px; */
    margin-left: 45px;
    position: relative;
}

.virtual-card-dynamic-details{
    position: absolute;
    top: 40%;
    left: 5%;
    max-width: 65%;
}

.virtual-card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.virtual-card-heading-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #000000;
}

.virtual-card-icon-container {
    background: url(../../../assets/img/virtual-card-icon.png);
    margin-right: 10px;
    width: 36px;
    height: auto;
}

.policy-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.policy-detail-container {
    background-color: #FBFBFB;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #EEEEEE;
}

.policy-details-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.policy-detail-icon {
    margin-right: 10px;
    width: 36px;
    height: auto;
}

.details-container {
    display: flex;
    width: 100%;
}

.policy-detail {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.359574px;
    color: #050505;
}

.policy-details-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.359574px;
    color: #67748E;
}

.initiate-claim-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.initiate-claim-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.inititae-claim-heading {
    /*font-family: 'Open Sans';*/
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #050505;
}

.inititae-claim-sub-heading {
    /*font-family: 'Open Sans';*/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #72849A;
}

.travel-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}

.select-country-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
}

.back-icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;

}

.back-text {
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #8692A6;
}

.claim-details-main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.claim-details-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #000000;
}

.claim-details-sub-text {
    /*font-family: 'Open Sans';*/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #72849A;
}

.claim-category-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.documents-upload-heading {
    /*font-family: 'Open Sans';*/
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #050505;
}

.documents-upload-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.document-upload-label {
    /*font-family: 'Open Sans';*/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #050505;
}

.btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.secondary-btn {
    background: #FFFFFF;
    border: 1px solid #E6EBF1;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;

}

.claim-category-select {
    display: flex;
    flex-direction: column;
    min-width: 40%;
}

.payment-details-container {
    display: flex;
    width: flex-start;
}

.review-header-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #FCFAFA;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.review-details-container {
    display: flex;
    width: 100%;
}

.review-details-container {
    padding: 10px 15px;
}

.edit-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 22px;
    background-color: #2EA3F233;
    border-radius: 25px;
    color: #2EA3F2;
    cursor: pointer;
}

.claim-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
}

.ip-address-holder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #72849A;
}

.heading-icon-container {
    /* background-color: #FCFAFA; */
    display: flex;
    width: 100%;
    padding: 0px 10px;
    border-radius: 5px;
    margin: 15px 0px;
}

.heading-icon-container-2 {
    background-color: #FCFAFA;
    display: flex;
    width: 100%;
    padding: 0px 10px;
    border-radius: 5px;
    margin: 15px 0px;
}

.claim-details-title {
    margin: 15px 0px;
}

.logout-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 25px;
}

.update-details-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 80px;
    right: 50px;
    cursor: pointer;
    z-index: 999999999;
}

.update-text-container {
    font-weight: 600;
    color: white;
    font-size: 12px;
    cursor: pointer;

}

.ant-steps-item-title {
    font-size: 14px;
}

.ant-steps-item-icon {
    cursor: pointer;
}

.logout-btn {
    background: #ED2939;
    border-radius: 2px;
    padding: 10px 20px;
    color: white;
    position: absolute;
    top: 25px;
    right: 50px;
}

.travel-details-main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 75px !important;
    margin-top: -25px !important;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.claim-modal-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
    color: #000000;
}

.review-details-container-mobile {
    display: none;
}

.review-details-container-mob {
    display: none;
}

.review-edit-icon-container {
    display: none !important;
}

.mandatory-item {
    color: #ED2939;
    font-weight: 600;
}

.delete-btn {
    text-transform: uppercase;
    font-weight: 600;
    color: #ED2939;
    cursor: pointer;
}

.footer-container {
    display: flex;
    padding: 25px 0px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.05);
    /* width: 100%; */
}

.modal-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #050505;
}

button.ant-modal-close {
    display: none;
}

.logout-btn-container-mob {
    display: none !important;
}

.steps-container-mob {
    display: none !important;
}


/* Media queries for mobile view --------------------------- */

@media only screen and (max-width: 600px) {
    .virtual-card-container-mobile {
        display: flex;
        margin-bottom: 25px;
    }

    .claim-title-text {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 90%;
        margin-bottom: 15px;
    }

    .footer-container {
        padding: 25px 15px;
    }

    .claim-title-container-mob {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 25px;
    }

    .claim-title-container {
        display: none !important;
    }

    .virtual-card-dynamic-details{
        position: absolute;
        top: 40%;
        left: 5%;
        font-size: 11px;
    }

    .steps-container-mob {
        display: block;
        /* justify-content: center;
        align-items: center; */
        min-width: 100%;
        padding: 30px 20px;
        /* position: absolute;
        top: 200px; */
    }

    .logout-btn-container {
        display: none !important;
    }

    .logout-btn-container-mob {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .logout-btn-mob {
        background: #ED2939;
        border-radius: 2px;
        padding: 10px 20px;
        color: white;
    }

    .update-address-container-mob {
        padding: 10px 15px;
        border-radius: 2px;
        border: 1.5px solid #FFFFFF;
        color: white;
        font-size: 10px;
        margin-right: 10px;
    }

    .claim-title-sub-text {
        /*font-family: 'Open Sans';*/
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
    }

    .steps-container {
        display: none;
    }

    button.ant-modal-close {
        display: none;
    }

    .virtual-card-img-container {
        padding-left: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .virtual-card-desc {
        padding-right: 0px;
        border: none;
    }

    .virtual-card-heading-text {
        font-size: 14px;
        line-height: 18px;

    }

    .virtual-card-container {
        display: none;
    }

    .initiate-claim-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .claim-title-sub-text {
        padding: 0px 20px;
    }

    .travel-details-main-container {
        padding: 0px 20px;
    }

    .btns-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .save-draft-next-btn-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .policy-details-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .review-details-container {
        display: none;
    }

    .review-details-container-mobile {
        display: flex;
    }

    .review-details-container-mob {
        display: flex;
    }

    .policy-detail {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
    }

    .policy-details-label {
        width: 100%;
    }

    .review-edit-icon-container {
        display: flex !important;
    }

    .edit-icon-container {
        display: none;
    }



}