.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.loading .ant-spin {
  color: #3e79f7;
}

.DashboardColorBoxes{
  min-height: 148px;
  margin: 1px 10px;
}

.DashboardColorBoxes svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.DashboardBoxText div{
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.265);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  padding-top: 2px;
}
.DashboardBoxText h5{
  color: white;
  margin-top: 5px;
}
.ant-table-thead > tr > th.ant-table-cell{
  color: #2ea3f2;
}

.claimreqdetTab .ant-tabs-nav{
  background-color: white;
  padding: 1rem;
  padding-bottom: 0;
}

.custshadow{
  -webkit-box-shadow: 6px 12px 17px -8px rgba(199,199,199,1);
-moz-box-shadow: 6px 12px 17px -8px rgba(199,199,199,1);
box-shadow: 1px 3px 17px -8px rgba(199,199,199,1);
}